In [1]:
import pandas as pd
d=pd.read_csv('/2203A51462.csv')
print(d)

    Unnamed: 0    People  Age  Height  Weight
0            0      Akki   19     150      55
1            1     Vinny   20     145      40
2            2     Nithu   20     146      48
3            3     Sanju   19     160      50
4            4   Shivani   22     158      52
5            5    Adhvik   23     160      58
6            6  Yogendra   18     156      45
7            7    Lahari   21     150      49
8            8     Vivek   22     162      53
9            9     Tinku   19     150      56
10          10      Ammu   19     148      39
11          11     Kumar   20     162      60

In [2]:
d=pd.read_excel('/2203A51462.xlsx')
print(d)

    Unnamed: 0    People  Age  Height  Weight
0            0      Akki   19     150      55
1            1     Vinny   20     145      40
2            2     Nithu   20     146      48
3            3     Sanju   19     160      50
4            4   Shivani   22     158      52
5            5    Adhvik   23     160      58
6            6  Yogendra   18     156      45
7            7    Lahari   21     150      49
8            8     Vivek   22     162      53
9            9     Tinku   19     150      56
10          10      Ammu   19     148      39
11          11     Kumar   20     162      60

In [3]:
d=pd.read_csv('/2203A51462.tsv')
print(d)

   \tPeople\tAge\tHeight\tWeight
0           0\tAkki\t19\t150\t55
1          1\tVinny\t20\t145\t40
2          2\tNithu\t20\t146\t48
3          3\tSanju\t19\t160\t50
4        4\tShivani\t22\t158\t52
5         5\tAdhvik\t23\t160\t58
6       6\tYogendra\t18\t156\t45
7         7\tLahari\t21\t150\t49
8          8\tVivek\t22\t162\t53
9          9\tTinku\t19\t150\t56
10         10\tAmmu\t19\t148\t39
11        11\tKumar\t20\t162\t60